* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary: #FFFFFF;

    /* Banner */
    --midal-primary: #B88E2F;
    --midal-banner: #FFF3E3;

    --text-color: #000000;
    --text-midal: #333333;

    /* Browse */
    --text-browse: #666666;

    /* products */
    --bg-products: #F4F5F7;
    --text-p1-p3: #3A3A3A;
    --text-p2: #898989;
    --text-span: #B0B0B0;
    --bg-red: #E97171;
    --bg-green: #2EC1AC;

    /* Inspiration */
    --text-inspiration: #616161;
    --bg-inspiration: #FCF8F3;
    --bg-round: #D8D8D8;

    /* Footer */
    --text-button: #FFFFFF;
    --footer-border: #D9D9D9;
    --footer-strong: #9F9F9F;

    /* fonts-family */
    --family-primary: 'poppins', sans-serif;

    /* font-weights */
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;

    /* Font Sizes */

    /* 48px */
    --fs-1: 3rem;

    /* 40px */
    --fs-2: 2.5rem;

    /* 32px */
    --fs-3: 2rem;

    /* 30px */
    --fs-4: 1.87rem;

    /* 24px */
    --fs-5: 1.5rem;

    /* 20px */
    --fs-6: 1.25rem;

    /* 18px */
    --fs-7: 1.12rem;

    /* 16px */
    --fs-8: 1rem;

}

.container {
    max-width: 100%;
    width: 90rem;
    margin-inline: auto;
}

a {
    text-decoration: none;
}

body {
    font-family: var(--family-primary, sans-serif);
    font-size: 1rem;
    line-height: 1.6rem;
}

/* Typography */

/* Border */
.border {
    border-style: none;
    border-bottom: 1px solid black;
    gap: 0.68rem;
    background-color: var(--primary);
}

.border-redias {
    border-radius: 1rem;
}

/* Button */
.btn {
    background-color: var(--midal-primary);
    color: var(--text-button);
    border: none;
}

/* Utility Classes */

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-items {
    align-items: center;
}

.flex-direction {
    flex-direction: column;
}

.flex-start {
    justify-content: flex-start;
}

/* Utility Position */

.fixed {
    position: fixed;
    z-index: 10;
}

.sticky {
    position: sticky;
    z-index: 10;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.top-0 {
    top: 0;
}

.top-24 {
    top: 1.5rem;
}

.top-95 {
    top: 5.98rem;
}

.top-253 {
    top: 15.81rem;
}

.top-510 {
    top: 31.87rem;
}

.bottom-24 {
    bottom: 1.5rem;
}

.bottom-73 {
    bottom: 4.56rem;
}

.left-24 {
    left: 1.5rem;
}
.left-55{
    left: 3.43rem;
}

.left-213 {
    left: 13.31rem;
}

.left-241 {
    left: 15.06rem;
}

.left-739 {
    left: 46.18rem;
}

.right-55 {
    right: 3.43rem;
}

.right-328 {
    right: 20.5rem;
}

.list-unstyle {
    list-style-type: none;
}


/*/////////////    Header    //////////////*/

.nav-wrapper {
    padding: 1.87rem 6.25rem 1.87rem 3.37rem;
    background-color: var(--primary);
}

.nav-links a {
    font-size: var(--fs-8);
    color: var(--text-color);
    font-weight: var(--font-weight-500);
    margin-inline: 2.8rem;
    line-height: 100%;
}

.nav-icons {
    gap: 2.81rem;
}

.fa-bars{
  font-size: 1.56rem;
  display: none;
}


/*///////////////////////     Main    ///////////////////////*/

/*///////////////////   Banner  ////////////////////*/

.banner img {
    max-width: 100%;
    height: 44.80rem;
}

.contant-box {
    max-width: 40.18rem;
    height: 27.68rem;
    background-color: var(--midal-banner);
    padding: 3.31rem 2.68rem 2.31rem 2.43rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.inerside {
    width: 30rem;
}

.contant-box p:nth-child(1) {
    font-size: var(--fs-8);
    font-weight: 37.5rem;
    letter-spacing: 0.18rem;
}

.contant-box h1 {
    color: var(--midal-primary);
    font-size: 3.25rem;
    font-weight: 43.75rem;
    line-height: 4.06rem;
}

.contant-box p {
    color: var(--text-midal);
    font-size: var(--fs-7);
    font-weight: var(--font-weight-500);
    line-height: 1.5rem;
    padding-top: 1.06rem;
}


.contant-box button {
    font-size: var(--fs-8);
    font-weight: var(--font-weight-700);
    padding: 1.56rem 4.5rem;
    margin-top: 2.81rem;
}

/*////////////////     Browse The Range   ////////////////////*/

.browse-content {
    font-size: var(--fs-3);
    font-weight: var(--font-weight-700);
    color: var(--text-midal);
    line-height: 100%;
    padding-top: 3.25rem;
}

.text-pera {
    font-size: var(--fs-6);
    font-weight: var(--font-weight-400);
    color: var(--text-browse);
    line-height: 100%;
}

.rooms-wrapper div {
    gap: 1.25rem;
}

.rooms-wrapper h2+p {
    padding-bottom: 3.89rem;
    padding-top: 0.3rem;
}

.rooms img {
    width: 23.81rem;
    height: 30rem;
}

.rooms p {
    color: var(--text-midal);
    font-size: var(--fs-5);
    font-weight: var(--font-weight-600);
    padding-top: 1.87rem;
    padding-bottom: 2.87rem;
}


/*/////////////     Our Products    /////////////////*/

.top {
    gap: 2rem;
    padding: 2rem 0;
}

.text-center{
    font-size: var(--fs-2);
    font-weight: var(--font-weight-700);
    line-height: 120%;
    color: var(--text-p1-p3);
}

.bg {
    max-width: 17.81rem;
}

.top img {
    max-width: 100%;
}

.bg {
    background-color: var(--bg-products);
}

.red {
    background-color: var(--bg-red);
    color: var(--primary);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.green {
    background-color: var(--bg-green);
    color: var(--primary);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.discription {
    padding: 1rem 2.25rem 1.87rem 1rem;
}

.discription span {
    font-size: var(--fs-8);
    font-weight: var(--font-weight-400);
    color: var(--text-span);
}

.p1 {
    font-size: var(--fs-5);
    font-weight: var(--font-weight-600);
    color: var(--text-p1-p3);
    padding-bottom: 0.5rem;
}

.p2 {
    font-size: var(--fs-8);
    font-weight: var(--font-weight-500);
    color: var(--text-p2);
    padding-bottom: 0.5rem;
}

.p3 {
    font-size: var(--fs-6);
    font-weight: var(--font-weight-600);
    color: var(--text-p1-p3);
}

.products button {
    background-color: var(--primary);
    font-size: var(--fs-8);
    font-weight: var(--font-weight-600);
    border: 1px solid var(--midal-primary);
    color: var(--midal-primary);
    width: 15.31rem;
    height: 3rem;
}

.bg {
    overflow: hidden;
}

.hover-overlay {
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
}

.bg:hover .hover-overlay {
    opacity: 1;
    visibility: visible;
}

.hover button {
    width: 12.62rem;
    height: 3rem;
}

.cart {
    margin-bottom: 1.5rem;
}

.icon {
    gap: 1.25rem;
}

.icon-item {
    gap: 0.12rem;
}

.icon-item p {
    color: var(--primary);
    font-size: var(--fs-8);
    line-height: 150%;
    font-weight: var(--font-weight-600);
}


/*////////////////    Inspiration    ///////////////*/

.inspiration {
    background-color: var(--bg-inspiration);
    overflow: hidden;
    padding: 2.75rem 0;
    margin-top: 69px;
}

.designer {
    margin-left: 6.25rem;
    flex: 1;
}

.designer h2 {
    font-size: var(--fs-2);
    font-weight: var(--font-weight-700);
    line-height: 120%;
    color: var(--text-p1-p3);
    width: 26.37rem;
}

.designer p {
    font-size: var(--fs-8);
    font-weight: var(--font-weight-500);
    line-height: 150%;
    color: var(--text-inspiration);
    max-width: 23rem;
}

.designer button {
    padding: 0.75rem 2.25rem;
    margin-top: 2rem;
}

.Rectangle {
    height: 36.37rem;
    flex: 2;
}

.Rectangle-25,.Rectangle-26 {
    width: 100%;
    height: 30.37rem;
    object-fit: cover;
}

.frame {
    background-color: #FFFFFFB8;
    padding: 2rem 1.06rem 2rem 2rem;
    width: 13.56rem;
    height: 8.12rem;
    z-index: 2;
}

.title-container {
    gap: 0.5rem;
}

.title-container span {
    color: var(--text-inspiration);
    font-size: var(--fs-8);
    font-weight: var(--font-weight-500);
    line-height: 150%;
}

.separator {
    width: 1.68rem;
}

.frame p {
    font-size: 1.75rem;
    font-weight: var(--font-weight-600);
    line-height: 120%;
    color: var(--text-p1-p3);
}

.Right {
    width: 3rem;
    height: 3rem;
    z-index: 2;
}

.Right img {
    width: 1.5rem;
}

.swiper{
    width: 100%;
    height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: var(--primary);
    width: 3rem;
    height: 3rem;
    padding: 12px;
    border-radius: 50%;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);

    --swiper-navigation-size: 1.5rem;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 0.62rem;
    --swiper-navigation-color: var(--midal-primary);
}

.swiper-slide {
    max-width: 25.62rem;
    height: 36.37rem;
    overflow: hidden;
}

.swiper-slide img {
    max-width: 100%;
    
}

.swiper-pagination{
    margin-left: 58.12rem;
    --swiper-pagination-bottom: 4.56rem;
    --swiper-pagination-bullet-horizontal-gap: 1.25rem;
    --swiper-pagination-color: var(--bg-round);
    --swiper-pagination-bullet-size: 0.68rem;
}


/*////////////////     Gride-section  FuniroFurniture    //////////////////*/
.grid-section{
    padding: 4.18rem 0 3.12rem 0;
}
.grid-para{
    font-size: var(--fs-6);
    font-weight: var(--font-weight-600);
    line-height: 150%;
    color: var(--text-inspiration);
}
.grid-container {
    grid-template-columns: repeat(8, 2fr);
    grid-template-rows: repeat(7, 6.12rem);
    gap: 1rem;
    margin: 0 auto;
    height: 48.75rem;
}
.h-100{
    height: 100%;
}
.w-100{
    width: 100%;
}

.grid-item{
    transition: 0.3s;
    object-fit: cover;
}
.overflow-hidden {
    overflow: hidden;
}

.grid-item:hover img {
    transform: scale(1.1); /* image thoda zoom kare hover pe */
}
.grid-1 {
    grid-column: 1;
    grid-row: 1 / 4;
}
.grid-2 {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

.grid-3 {
    grid-column: 4 / 5;
    grid-row: 3 / 6;
}

.grid-4 {
    grid-column: 5 / 7;
    grid-row: 2 / 5;
}

.grid-5 {
    grid-column: 7 / 9;
    grid-row: 1 / 5;
}

.grid-6 {
    grid-column: 1 / 3;
    grid-row: 4 / 8;
}

.grid-7 {
    grid-column: 3 / 4;
    grid-row: 4 / 7;
}

.grid-8 {
    grid-column: 5 / 6;
    grid-row: 5 / 8;
}

.grid-9 {
    grid-column: 6 / 8;
    grid-row: 5 / 7;
}

/*////////////////     Footer    //////////////////*/

footer {
    border-top: 1px solid var(--footer-border);
}

.footer-wrapper {
    padding: 3rem 6.25rem;
}

.footer-wrapper div>p {
    width: 17.81rem;
}

.footer-wrapper>div {
    column-gap: 7.81rem;
}

.footer-wrapper>div p {
    color: var(--footer-strong);
    font-weight: var(--font-weight-400);
    font-size: var(--fs-8);
    padding-bottom: 2rem;
}

.about {
    column-gap: 9rem;
}


.footer-wrapper strong {
    color: var(--footer-strong);
    font-weight: var(--font-weight-500);
}

.footer-wrapper div p,
ul,
form {
    padding-top: 3.43rem;
}

.footer-wrapper ul li {
    padding-bottom: 2.5rem;
}

.footer-wrapper li a {
    color: var(--text-color);
    font-weight: var(--font-weight-500);
}

.footer-wrapper div+p {
    border-top: 1px solid var(--footer-border);
    padding-top: 2.18rem;
}

.footer-wrapper form {
    gap: 0.68rem;
}

/*///////////    Media Quary   //////////*/

@media screen and (max-width:1200px) {
  .nav-links,.nav-icons{
    display: none;
  }
  .fa-bars{
    display: block;
  }
}

/* @media (max-width:576px) {
    .container {
        min-width: 540px;
    }
}

@media (max-width:768px) {
    .container {
        min-width: 740px;
    }
}

@media (max-width:992px) {
    .container {
        min-width: 920px;
    }
}

@media (max-width:1300px) {
    .container {
        min-width: 1240px;
    }
}

@media (max-width:1600px) {
    .container {
        min-width: 1440px;
    }
} */