/* Carousel Arrows Styling */

.carousel-control-prev,
.carousel-control-next {
  width: 55px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #0d6efd; 
  background-size: 50% 50%;
  border-radius: 50%;
  padding: 18px;
  transition: all 0.3s ease;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: #084298;
}
